:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  background: green;
}

.main {
  min-height: 100vh;
}

.wheel {
  position: relative;
  width: 400px;
}
.wheelholder {
  top: 50px;
  display: flex;
  justify-content: center;
  height: 400px;
  margin-bottom: 3em;
  position: relative;
}
.wheelshadow{
  border: 25px solid rgba(0,0,0,0.5);
  z-index: 200;
  border-radius: 500px;
  position: absolute;
  height: 360px;
  width: 360px;
  top: -5px
}
.wheelrim{
  border: 24px solid purple;
  z-index: 210;
  border-radius: 500px;
  position: absolute;
  height: 380px;
  width: 380px;
  top: -14px;
}

.wheelbulbs {
  position: absolute;
  z-index: 220;
}

.rotating{
  animation-iteration-count: 1;
  transform-origin: 200px 200px;
  transition: all;
  transition-timing-function:cubic-bezier(.04,1.04,.58,1)
}

.abs {
  position: absolute;
}

/* LIGHTING */
.bulb {
  height: 12px;
  width: 12px;
  border-radius: 40px;
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: rgba(255,255,0,0.4);
  box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, .02)
}

@keyframes flash{
  0%, 100% {
    background-color: rgba(255,255,0,0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, .02)
  }
  50% {
    background-color: yellow;
    box-shadow: 0px 4.66667px 24px 3px yellow;
  }
}

.bulbblue {
  background-color: rgba(0,0,255,0.4);
  animation-name: flashblue;
}

@keyframes flashblue{
  0%, 100% {
    background-color: rgba(0,0,255,0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, .02)
  }
  50% {
    background-color: rgba(0,0,255,1);
    box-shadow: 0px 4.66667px 24px 3px rgba(0,0,255,1);;
  }
}

.bulbholder {
  position: absolute;
  height: 207px;
  top: -6px;
  left: 194px;
  transform-origin: bottom center;
}

.initials {
  position: absolute;
  height: 170px;
  top: 30px;
  left: 150px;
  transform-origin: bottom center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -0.25em;
  font-size: 3em;
  font-weight: bold;
  text-shadow:
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000,
     5px 5px 15px #000;

  width: 100px;
  line-height: 100px;
  font-family: "Wendy One", sans-serif
}

/* CONTROLLER */

.numberHolder {
  font-size: 30px;
  border: 1px solid rgba(255,255,255,0.4);
  font-weight: bold;
  padding: 12px;
  display: inline-block;
  width: 3em;
  border-radius: 12px;
}